* {
  padding: 0px;
  margin: 0px;
}

nav {
  width: calc(100%-100px);
  background-color: teal;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.navBarMenu li {
  height: 50px;
  display: inline-block;
  list-style: none;
  width: 100px;
}